.emoji_smile ._emoji_btn{
	padding-right: 3px;
}
.im-chat-input--attach{
	display: none;
}
.autopic_expanded{
	opacity: 0;
	visibility: hidden;
	
	transition-property:  opacity, visibility;
    transition-duration: .3s, .3s;
    transition-delay: .15s, .15s;

}
.autopic:hover .autopic_expanded{
	opacity: 1;
	visibility: visible;
}
.contTab{
	display: inline-block;
	width: 145px;
}
.contL{
	float: left;
	margin-right: 3px;
}

.autopic_cont::-webkit-scrollbar-button {
	width:5px;
	height:0px;
}

.autopic_cont::-webkit-scrollbar-track {
	background-color:rgb(58, 58, 58);
}

.autopic_cont::-webkit-scrollbar-thumb {
	background-color: white;
}

.autopic_cont::-webkit-scrollbar-thumb:hover{
	background-color:#56999f;
}

.autopic_cont::-webkit-resizer{
	width:4px;
	height:0px
}

.autopic_cont::-webkit-scrollbar{
	-webkit-border-radius: 2%;
	border-radius: 2%;
	width: 4px;
}
